{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "MonitorManagementClient",
        "version": "2017-12-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "monitor-metricNamespaces_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/{resourceUri}/providers/microsoft.insights/metricNamespaces": {
            "get": {
                "description": "Lists the metric namespaces for the resource.",
                "operationId": "MetricNamespaces_List",
                "parameters": [
                    {
                        "description": "The identifier of the resource.",
                        "in": "path",
                        "name": "resourceUri",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ISO 8601 conform Date start time from which to query for metric namespaces.",
                        "in": "query",
                        "name": "startTime",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request to get the list of metric namespaces",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents collection of metric namespaces.",
                                    "properties": {
                                        "value": {
                                            "description": "The values for the metric namespaces.",
                                            "items": {
                                                "description": "Metric namespace class specifies the metadata for a metric namespace.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the metricNamespace.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the namespace.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties which include the fully qualified namespace name.",
                                                        "properties": {
                                                            "metricNamespaceName": {
                                                                "description": "The metric namespace name.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the namespace.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "value"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "metricNamespaces"
                ],
                "x-ms-examples": {
                    "Get Metric Namespaces without filter": {
                        "parameters": {
                            "api-version": "2017-12-01-preview",
                            "resourceUri": "subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb",
                            "startTime": "2018-08-31T15:53:00Z"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb/providers/microsoft.insights/metricNamespaces/Microsoft.DocumentDB-databaseAccounts",
                                            "name": "Microsoft.DocumentDB-databaseAccounts",
                                            "properties": {
                                                "metricNamespaceName": "Microsoft.DocumentDB/databaseAccounts"
                                            },
                                            "type": "Microsoft.Insights/metricNamespaces"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorResponse": {
                "description": "Describes the format of Error response.",
                "properties": {
                    "code": {
                        "description": "Error code",
                        "type": "string"
                    },
                    "message": {
                        "description": "Error message indicating why the operation failed.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "MetricNamespace": {
                "description": "Metric namespace class specifies the metadata for a metric namespace.",
                "properties": {
                    "id": {
                        "description": "The ID of the metricNamespace.",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the namespace.",
                        "type": "string"
                    },
                    "properties": {
                        "description": "Properties which include the fully qualified namespace name.",
                        "properties": {
                            "metricNamespaceName": {
                                "description": "The metric namespace name.",
                                "type": "string"
                            }
                        }
                    },
                    "type": {
                        "description": "The type of the namespace.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "MetricNamespaceCollection": {
                "description": "Represents collection of metric namespaces.",
                "properties": {
                    "value": {
                        "description": "The values for the metric namespaces.",
                        "items": {
                            "description": "Metric namespace class specifies the metadata for a metric namespace.",
                            "properties": {
                                "id": {
                                    "description": "The ID of the metricNamespace.",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the namespace.",
                                    "type": "string"
                                },
                                "properties": {
                                    "description": "Properties which include the fully qualified namespace name.",
                                    "properties": {
                                        "metricNamespaceName": {
                                            "description": "The metric namespace name.",
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": {
                                    "description": "The type of the namespace.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "value"
                ],
                "type": "object"
            },
            "MetricNamespaceName": {
                "description": "The fully qualified metric namespace name.",
                "properties": {
                    "metricNamespaceName": {
                        "description": "The metric namespace name.",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "ResourceUriParameter": {
                "description": "The identifier of the resource.",
                "in": "path",
                "name": "resourceUri",
                "required": true,
                "x-ms-parameter-location": "method",
                "x-ms-skip-url-encoding": true,
                "schema": {
                    "type": "string"
                },
                "allowReserved": true
            },
            "StartTimeParameter": {
                "description": "The ISO 8601 conform Date start time from which to query for metric namespaces.",
                "in": "query",
                "name": "startTime",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}